{% extends 'navbar.html' %}
{% block content %}
<div class="relative isolate overflow-hidden pt-14">
    <!-- Seccion About -->
    <section class="overflow-visible m-40 px-40 text-slate-400" >
        <!-- Titulo -->
        <h3 class="mb-10 text-4xl text-white" >About Me</h3>
        <!-- Contenedor del texto y PP -->
        <div class="flex flex-row" >
            <!-- contenedor del texto -->
            <div class="text-2xl leading-relaxed" >
                <p class="mb-4" >
                    Some text. But like a lot of text explaining my beautiful path troughout the biggest impostor sindrome that hummanity had to stand so far.</p>

                 <p class="mb-4" >Hello! My name is Claudia and I enjoy creating things that live on the internet. My interest in programming started back in 2019 when I discovered that a bunch of colored texts and numbers its the way humans comunicate to a computer!
                </p>
                <p class="mb-4" >
                    Some text. But like a lot of text explaining my beautiful path troughout the biggest impostor sindrome that hummanity had to stand so far.</p>

                 <p class="mb-4" >Hello! My name is Claudia and I enjoy creating things that live on the internet. My interest in programming started back in 2019 when I discovered that a bunch of colored texts and numbers its the way humans comunicate to a computer!
                </p>
            </div>
            <!-- contenedor de PP -->
            <div>
                <!-- <img class="outline outline-2 outline-cyan-400 outline-double outline-offset-2" src="https://i.pinimg.com/564x/d8/b4/aa/d8b4aa5634e86766fc705d579bd44de4.jpg" alt="Me"> -->
                <img class="border-4 border-cyan-400 border-double rounded-lg" src="https://i.pinimg.com/564x/d8/b4/aa/d8b4aa5634e86766fc705d579bd44de4.jpg" alt="Me">
            </div>
        </div>

    </section>
</div>
{% endblock %}
